.title {
    font-size: 150%;
    font-weight: bold;
    text-align: center;
}

.subtitle {
    font-size: 125%;
    font-weight: bold;
    text-align: center;
}

.ack {
    font-size: 125%;
    font-weight: bold;
    text-align: center;
}
		 

.sidebar {
    float: left;
    background-color: #eee;
    padding: 10px;
    width: 22%;
}
.body {
    float: left;
    padding: 10px;
    width: 72%
}

.tableCenter {
	  margin-right: auto;
	  margin-left: auto;
	  padding-left: 25px;
}

.event {
    font-weight: bold;
    margin-top: 12px;
    font-size: large;
}

.alert {
    border: solid;
    font-weight: bold;
    font-size: x-large;
    background-color: #fee;
}
    
.imagetile {
    width: 96%;
    aspect-ratio: 3/1;
}

.tile {
    width: 32%;
    aspect-ratio: 1/1;
    background: gray;
    margin: 0.5%;
    float: left;
}

.sponsor_logo {
    width: 128px;
    margin: 4px;
    float: left;
}

.schedule_time_cell {
    width: 25%;
}

.schedule_activity_cell {
    width: 70%;
}

dt {
    font-weight: bold;
    font-size: 125%;
    padding-top: 10px;
}

dd {
}

